@import '../../assets/styles/base';

.dropdown-menu {
    $this: &;

    cursor: pointer;
    color: white;

    height: 100%;

    .dropdown-menu-option {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        text-align: center;
        border-top: 1px solid white;
        background-color: $color-primary-grey-lighter;
    }

    .dropdown-menu-option:hover {
        background-color: $color-primary-cyan-darker;
    }

    &__header-wrapper {
        height: 100%;
    }
}