@import '../../assets/styles/base';

.text-input {
  $this: &;

  &__wrapper {
    border-radius: 5px;
    width: 100%;
  }

  &__input {
    padding: 0;
    border-width: 0;
    width: 100%;
  }

  &__error-msg {
    height: 25px;
    color: $color-firebrick;
  }
}