@import '../../assets/styles/base';

$item-width: 100px;

.office-info-menu {
    $this: &;

    position: absolute;
    bottom: 0px;
    left: 20px;
    height: 100%;

    &__item {
        cursor: pointer;
        color: white;
        width: $item-width;
        height: 100%;
        margin-left: 5px;
        margin-right: 5px;
        display: inline-block;
        text-align: center;
        position: relative;

        &-text {
            position: absolute;
            bottom: 10px;
            text-align: center;
            width: 100%;
        }

        &:hover, &--active {
            color: white;
            background-color: $color-primary-grey;

            &::after {
                animation: bottom;
                animation-duration: 0.3s;            
                border-bottom: 4px solid $color-primary-cyan;
                content: '';
                display: block;
                position: relative;
                top: calc(100% - 4px);
            }
        }
    }
}

@keyframes bottom {
    from {
      transform: scaleX(0);
    }
  
    to {
      transform: scaleX(1);
    }
  }
