.app-footer {
  width: 100%;
  left: 0px;
  position: fixed;
  bottom: 8px;
  height: 25px;
  text-align: left;
  vertical-align: middle;
  line-height: 25px;
  font-size: 30px;
  padding-left: 30px;
}