@import '../../assets/styles/base';

.user-menu {
    $this: &;

    &__wrapper {
        height: 100%;
    }

    &__dropdown {
        width: 85px;
        height: 100%;

        border-left: 1px solid white;
        border-right: 1px solid white;
    }
}

.user-menu-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    &:hover {
        background-color: $color-primary-grey;
    }
}
