@import '../../assets/styles/base';

.main-nav {
    $this: &;

    position: absolute;
    height: 60px;
    width: 100%;
    background-color: $color-primary-grey-lighter;

    .user-dropdown {
        position: absolute;
        top: 0px;
        right: 15px;
        height: 100%;
    }

    .office-info {
        position: relative;
        height: 100%;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5); 
    }

}