//COLOR NAMER http://www.color-blindness.com/color-name-hue/


// CYAN
$color-primary-cyan: rgb(10,200,200);
$color-primary-cyan-darker:rgb(10,180,180);

//GREY
$color-primary-grey: rgb(71, 71, 71);
$color-primary-grey-lighter: rgb(100, 100, 100);

$color-darkgrey: rgb(170,170,170);
$color-lightgrey: rgb(210,210,210); //#D2D2D2 (login-house.svg background color)
$color-whitesmoke: rgb(236,236,236); // #ECECEC (login-house.svg house color)

// RED
$color-firebrick: rgb(182, 33, 33);




