<!doctype html>
<html class="no-js" lang="en">
    <head>
        <base href="/">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <title>Scrapple</title>
    </head>
    <body>
        <div id="scrapple-wrapper" style="min-width: 1366px; min-height: 768px; position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px;"></div>
        <script>
            (function () {
                document.documentElement.removeAttribute('class');
            })();
        </script>
    </body>
</html>