@import '../../assets/styles/base';

.login-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  background-image: url("/images/login-house.svg");
}

.login-logo-wrapper {
  width: 55%;
  display: inline-block;
  height: 100%;
  box-sizing: border-box;
}

.login-logo {
  margin-top: 12%;
  text-align: right;
  padding-right: 7%;
  font-size: 11em;
  font-family: 'Domine', serif;
  font-weight: bold;
  color: $color-primary-cyan;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.login-beta-tag {
  text-align: right;
  padding-right: 12%;

  text-align: right;
  font-size: 3em;
  font-family: 'Domine', serif;
  color: $color-primary-grey;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.login-right {
  width: 45%;
  display: inline-block;
  height: 100%;
  box-sizing: border-box;
}

.login-desc {
  height: 50%;
  width: 100%;
}

.login-desc-wrapper {
  background-color: white;
  border: 1px solid $color-darkgrey;
  box-shadow: 0 10px 6px -6px #777;
  border-radius: 10px;
  width: 430px;
  position: absolute;
  top: 60px;
  bottom: 60px;
  //right: 40px;
  margin-left: 20px;
  padding: 10px;

  .login-desc__header {
    font-family: 'Domine', serif;
    font-size: 1.5em;
    text-align: center;
    color: $color-primary-grey-lighter;
  }

  .login-desc__desc {
    margin: 20px auto auto auto;
    width: 88%;
  }

  .login-form {
    width: 88%;
    margin: auto;

    .text-input__error-msg {
      text-transform: uppercase;
    }
  
    input {
      height: 40px;
      margin-bottom: 15px;
      font-size: 100%;
      border: 1px solid $color-darkgrey;
      border-radius: 2px;
      box-sizing: border-box;
      padding-left: 10px;
    }
  
    button {
      &:hover {
        background-color: $color-primary-cyan-darker;
      }
      outline: 0;
      background-color: $color-primary-cyan;
      height: 50px;
      border-radius: 2px;
      border: 1px solid $color-darkgrey;
      width: 100%;
      font-size: 100%;
      opacity: 0.9;
      cursor: pointer;
      color: white;
    }
  }

}